body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: white;
    text-shadow: 1px 1px 4px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('292e06a3acc988f9842ad0980034ad0e.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  
  .message {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 22px;
    margin-bottom: 10px;

  }
  #bf{
    position: absolute;
    top: 85%;
    left:80%;
  }

  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  #gf{
    font-size: 60px;
    text-shadow: 4px 4px 20px orange;
}
#ilu{
  position: absolute;
  top: 0.1%;
  left: 35%;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: red;
  text-shadow: 1px 1px 4px white;
}